In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')
# !pip install -q kaggle

# from google.colab import files
# files.upload()
# !rm -r ~/.kaggle

# ! mkdir ~/.kaggle

# ! cp /kaggle.json ~/.kaggle/
# ! chmod 600 ~/.kaggle/kaggle.json
# !cat ~/.kaggle/kaggle.json

# ! kaggle datasets download -d blastchar/telco-customer-churn

Downloading telco-customer-churn.zip to /content
  0% 0.00/172k [00:00<?, ?B/s]
100% 172k/172k [00:00<00:00, 75.6MB/s]

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import  pandas_profiling 
import plotly.offline as po
import plotly.graph_objs as go
%matplotlib inline
from pandas_profiling import ProfileReport

In [ ]:
# from pandas_profiling import ProfileReport
# !unzip /content/telco-customer-churn.zip
# data= pd.read_csv("/content/WA_Fn-UseC_-Telco-Customer-Churn.csv")
# pd.set_option('display.max_columns', 21)
data.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
# cid=data['customerID']
# cid.head()
# data.drop(['customerID'],axis=1,inplace=True)

In [ ]:
data.replace({'No phone service':'No','No internet service':'No'},inplace=True)

In [ ]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
X=data.drop(['Churn'],axis=1)
y=data['Churn']

In [ ]:
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,0,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9
7040,Female,0,Yes,Yes,11,No,No,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5

In [ ]:
columns=[]
for i in X.columns:
    if len(X[i].unique()) < 5:
        columns.append(i)
columns

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [ ]:
X=pd.get_dummies(X,columns=columns,drop_first=True)
X.head()
X.drop(['TotalCharges'],axis=1,inplace=True)
X.head()

,tenure,MonthlyCharges,gender_Male,SeniorCitizen_1,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,34,56.95,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2,2,53.85,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,45,42.30,1,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
4,2,70.70,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0

In [ ]:
from sklearn.preprocessing import StandardScaler
columns=['tenure','MonthlyCharges']
X_scaled=StandardScaler().fit_transform(X[columns])
X['tenure']=X_scaled[:,0]
X['MonthlyCharges']=X_scaled[:,1]
X.head()

,tenure,MonthlyCharges,gender_Male,SeniorCitizen_1,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,-1.277445,-1.160323,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0.066327,-0.259629,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2,-1.236724,-0.362660,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0.514251,-0.746535,1,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
4,-1.236724,0.197365,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0

In [ ]:
import pickle
with open('TelcoCustomerChurn','rb') as f:
  model = pickle.load(f)

In [ ]:
y_pred=model.predict(X)

In [ ]:
y_pred

array([1, 0, 1, ..., 0, 1, 0], dtype=uint8)

In [ ]:
df = pd.DataFrame({ 'Predicted Churn': y_pred})

In [ ]:
df.to_excel('ChurnPredictions.xlsx')